<h1>New Apply</h1>

<%= form_with model: [current_user, @apply] do |form| %>
  <div>
    <%= form.label :company_name %><br>
    <%= form.text_field :company_name %>
    <% @apply.errors.full_messages_for(:company_name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :designation %><br>
    <%= form.text_area :designation %><br>
    <% @apply.errors.full_messages_for(:designation).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
