<h1>New Company</h1>

<%= form_with model: [current_user, @company] do |form| %>
  <div>
    <%= form.label :company_name %><br>
    <%= form.text_field :company_name %>
    <% @company.errors.full_messages_for(:company_name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :experience %><br>
    <%= form.text_area :experience %><br>
    <% @company.errors.full_messages_for(:experience).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %><br>
    <% @company.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :location %><br>
    <%= form.text_area :location %><br>
    <% @company.errors.full_messages_for(:location).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
